﻿@using DockerComposeApp.Shared.Responses;
@using DockerComposeApp.Shared.Enums;
@model AnswerResponse
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <ul>
        <li>
            <span>What is the number of movies since 1975?</span><br />
            @if (Model.Answer.ContainsKey(Question.CountSince1975))
            {
                <span>@Model.Answer[Question.CountSince1975]</span><br /><br />
            }
        </li>
        <li>
            <span>What is the most common year for movies?</span><br />
            @if (Model.Answer.ContainsKey(Question.MostCommonYear))
            {
                <span>@Model.Answer[Question.MostCommonYear]</span><br /><br />
            }
        </li>
        <li>
            <span>What is the total number of all cast members combined (cast members may be counted multiple times)?</span><br />
            @if (Model.Answer.ContainsKey(Question.TotalCastMembers))
            {
                <span>@Model.Answer[Question.TotalCastMembers]</span><br /><br />
            }
        </li>
    </ul>
</div>
